<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Style.css")" type="text/css" />
    <link rel="stylesheet" href="http://webfonts.ru/import/kobzarks.css" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" type="=text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();
        int numNewMis = 0;
        int numNewMes = 0;
        int numNewChan = 0;

        var misses = dc.Missings;
        foreach (HtmlInputs.Models.Missings item in misses)
        {
            if (item.StudentId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                if (item.IsRead == 0)
                {
                    numNewMis++;
                }
            }
        }
        if (numNewMis != 0)
        {
            ViewBag.numMis = numNewMis;
        }

        var messages = dc.Messages;
        foreach (HtmlInputs.Models.Messages item in messages)
        {
            if (item.ReceiverId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                if (item.isRead == 0)
                {
                    numNewMes++;
                }
            }
        }
        if (numNewMes != 0)
        {
            ViewBag.numMes = numNewMes;
        }

        var changes = dc.Changes;
        foreach (HtmlInputs.Models.Changes item in changes)
        {
            if (item.UserId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                if (item.isRead == 0)
                {
                    numNewChan++;
                }
            }
        }
        if (numNewChan != 0)
        {
            ViewBag.numChan = numNewChan;
        }

        var applications = dc.Applications;
        int numNewApp = 0;
        int numAnswApp = 0;
        foreach(HtmlInputs.Models.Applications item in applications )
        {
            if(item.isRead == 0)
            {
                numNewApp++;
            }
            else if(item.isRead == 1 && item.StudentId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                numAnswApp++;
            }
        }
        if(numNewApp != 0)
        {
            ViewBag.numApp = numNewApp;
        }
        if(numAnswApp != 0)
        {
            ViewBag.numAnsApp = numAnswApp;
        }
    }
    <header>
        <img class="logo" src="@Url.Content("~/Content/Logo.jpg")" />
        <div class="title">
            Факультет инновационной подготовки<br />
            <div class="speciality">Управление информационными ресурсами</div>
        </div>
    </header>
    <nav class="header">
        <div class="avatar" onclick="Display()">
                <div class="Wrapper-avatar">+</div>
            <img src="@Url.Action("ShowAvatar", "Profile")" />
            
        </div>
        <div class="header-content">
            @Session["LogedUserSname"] @Session["LogedUserName"] @Session["LogedUserPname"]
        </div>
    </nav>
    <div class="main">
        <ul class="menu">
            <li><a href="~/Profile/Index">Главная</a></li>
            @if (Session["LogedUserId"].ToString().Equals("4"))
            {
                <li>
                    <a href="~/Profile/MethodistStudents">Студенты</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Profile/WhoIsUserMiss">
                        Пропуски
                        @if (ViewBag.numMis != null)
                        {
                            <span>(@ViewBag.numMis)</span>
                        }
                    </a>
                </li>
            }
            <li>
                @if(!Session["LogedUserRole"].ToString().Equals("1") &&
                    !Session["LogedUserRole"].ToString().Equals("2"))
                { 
                    <a href="~/Profile/WhomToMessage">
                        Сообщения
                        @if (ViewBag.numMes != null)
                        {
                            <span>(@ViewBag.numMes)</span>
                        }
                    </a>
                }
                else
                {
                    <a href="~/Profile/Messages">
                        Сообщения
                        @if (ViewBag.numMes != null)
                        {
                            <span>(@ViewBag.numMes)</span>
                        }
                    </a>
                }
            </li>
            @if (Session["LogedUserRole"].ToString().Equals("1") ||
                Session["LogedUserRole"].ToString().Equals("2") ||
                Session["LogedUserRole"].ToString().Equals("4"))
            {
            
            <li>
                <a href="~/Profile/Changes">
                    Изменения
                    @if (ViewBag.numChan != null)
                    {
                        <span>(@ViewBag.numChan)</span>
                    }
                </a>
            </li>
            }
            @if (Session["LogedUserRole"].ToString().Equals("1") || 
                 Session["LogedUserRole"].ToString().Equals("2") || 
                 Session["LogedUserRole"].ToString().Equals("5"))
            {
                <li>
                    <a href="~/Profile/WhoIsUserApp">Заявление
                    @if(Session["LogedUserRole"].ToString().Equals("5") && ViewBag.numApp != null)
                    {
                        <span>(@ViewBag.numApp)</span>   
                    }
                    @if ((Session["LogedUserRole"].ToString().Equals("1") || 
                          Session["LogedUserRole"].ToString().Equals("2")) &&
                          ViewBag.numAnsApp != null)
                    {
                        <span>(@ViewBag.numAnsApp)</span>
                    }
                    </a>
                </li>
            }
            <li><a href="~/Home/Index">Выйти</a></li>
        </ul>
        @RenderBody()
    </div>
    @using (Html.BeginForm("ChangeAvatar", "Profile", FormMethod.Post, new { id = "change-form", enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="avatar-change">
                <img src="@Url.Action("ShowAvatar", "Profile")" />
            </div>
            <div class="action">
                <label>Выберите аватар</label><input type="file" name="NewAvatar" /><br />
                <input type="submit" class="change-submit" value="Сохранить" />
                <a href="~/Profile/Index">
                    <input type="button" value="Назад" />
                </a>
            </div>
        </div>
    }
    <script>
        function Display() {
            var element = document.getElementById("change-form");
            element.style.display = "block";
        }
    </script>
</body>
</html>
