@{
    ViewBag.Title = "Студенческий портал";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Style.css")" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Logo.ico")" type="image/x-icon" />
    <link type="text/css" href="@Url.Content("~/Content/StylesUi/jquery-ui.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.js")"></script>

</head>
<body>
    <header>
        <img class="logo" src="@Url.Content("~/Content/Logo.jpg")" />
        <div class="title">
            Факультет инновационной подготовки<br />
            <div class="speciality">Управление информационными ресурсами</div>
        </div>
    </header>
    @RenderBody()
</body>
</html>