@model HtmlInputs.Models.AddMiss
@{
    ViewBag.Title = "Добавить пропуск";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> StudentList = new List<SelectListItem>();
    List<SelectListItem> IsValidList = new List<SelectListItem>();
    List<SelectListItem> listOfForms = new List<SelectListItem>();
    List<SelectListItem> listOfDiss = new List<SelectListItem>();
    
    var isValid = new SelectListItem { Text = "Есть", Value = "1" };
    var isNotValid = new SelectListItem { Text = "Отсутствует", Value = "0" };
    
    IsValidList.Add(isValid);
    IsValidList.Add(isNotValid);

    HtmlInputs.Models.DiplomEntities5 dc1 = new HtmlInputs.Models.DiplomEntities5();
    int group = Convert.ToInt32(Session["LogedUserGroup"]);
    int course = Convert.ToInt32(Session["LogedUserCourse"]);
    foreach (HtmlInputs.Models.Users item in dc1.Users.OrderBy(a => a.Sirname))
    {
        if (item.Group.Equals(group) && 
            item.RoleId.Equals(1) &&
            item.Course.Equals(course))
        {
            var newReceiver = new SelectListItem { Text = item.Sirname + " " + item.Name + " " + item.Patername, Value = item.UserId.ToString() };
            StudentList.Add(newReceiver);
        }
    }

    var lecture = new SelectListItem { Text = "лекция", Value = "лекция" };
    var seminar = new SelectListItem { Text = "семинар", Value = "семинар" };
    var laboratory = new SelectListItem { Text = "лабораторная", Value = "лабораторная" };

    listOfForms.Add(lecture);
    listOfForms.Add(seminar);
    listOfForms.Add(laboratory);

    foreach (HtmlInputs.Models.Discipline item in dc1.Discipline.OrderBy(a => a.FullName))
    {
        var element = new SelectListItem { Text = item.FullName, Value = item.DisId.ToString() };
        listOfDiss.Add(element);
    }
    ViewBag.ListOfStudent = StudentList;
    ViewBag.ValidList = IsValidList;
    ViewBag.ListOfForm = listOfForms;
    ViewBag.ListOfDis = listOfDiss;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#inline").datepicker({
            dateFormat: "dd.mm.yy",
            altField: "#datep",
        });
    })
</script>
    @using (Html.BeginForm("AddMiss", "Profile", FormMethod.Post, new { @id = "add-miss-form" }))
    {
        <div class="content">
            <input type="hidden" name="isRead" value="0" />
            @if (ViewBag.Message != null)
            {
            <div style="color:green;" id="ToHide">
                @ViewBag.Message
            </div>
            <script type="text/javascript">
            var timer = setTimeout(function () {
                    var element = document.getElementById("ToHide");
                    element.classList.add("Hidden");
                    clearTimeout(timer);
                }, 1500);
            </script>
            }
            <table id="add-miss">
                <tr>
                    <td><lable>Студент:</lable></td>
                    <td>@Html.DropDownListFor(a => a.StudentId, StudentList)</td>
                    <td style="color:red;"></td>
                </tr>
                <tr>
                    <td><lable>Форма занятий:</lable></td>
                    <td>@Html.DropDownListFor(a => a.Form, listOfForms)</td>
                    <td style="color:red;">@Html.ValidationMessageFor(a => a.Form)</td>
                </tr>
                <tr>
                    <td><lable>Дисциплина:</lable></td>
                    <td>@Html.DropDownListFor(a => a.Discipline, listOfDiss)</td>
                    <td style="color:red;">@Html.ValidationMessageFor(a => a.Discipline)</td>
                </tr>
                <tr>
                    <td><lable>Причина:</lable></td>
                    <td>@Html.DropDownListFor(a => a.IsValid, IsValidList)</td>
                    <td style="color:red;"></td>
                </tr>
                <tr>
                    <td>Дата:</td>
                    <td colspan="2">
                        <input id="datep" name="Date"/>
                    </td>
                </tr>
            </table>
            <div id="inline"></div>
        </div>
    <div class="miss-buttons">
        <input type="submit" value="Добавить"/>
        <a href="~/Profile/MissForPraepostor"><input type="button" value="Назад" /></a>
    </div>
    }

        
