@model List<HtmlInputs.Models.Missings>
@{
    ViewBag.Title = "Редактировать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using(Html.BeginForm("EditMiss","Profile"))
{ 
<div class="content">
    <div id="ToHide" style="color:green;">
        @if(ViewBag.Message != null)
        {
            @ViewBag.Message
        }
        <script>
            var timerId = setTimeout(function () {
                var element = document.getElementById("ToHide");
                element.classList.add("Hidden");
                clearTimeout(timerId);
            }, 1500)
        </script>
    </div>
    <h1>Пропуски группы</h1>
    <table id="miss-table">
        <tr>
            <td>№</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Дата</td>
            <td>Форма</td>
            <td>Дисциплина</td>
            <td>Причина</td>
        </tr>
        @{
            List<SelectListItem> Validation = new List<SelectListItem>();
            var isValid = new SelectListItem { Text = "Есть", Value = "1" };
            var isNotValid = new SelectListItem { Text = "Отсутствует", Value = "0" };
            Validation.Add(isValid);
            Validation.Add(isNotValid);
            
            int numRow = 1;
            int amountOfRow = 1;
            DateTime temp = new DateTime();
            HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();

            for (int i = 0; i < Model.Count; i++ )
            {
                DateTime startWeek = Model[i].Date;
                DateTime endWeek = Model[i].Date;
                while (startWeek.DayOfWeek != System.DayOfWeek.Monday)
                {
                    startWeek = startWeek.AddDays(-1);
                }
                while (endWeek.DayOfWeek != System.DayOfWeek.Saturday)
                {
                    endWeek = endWeek.AddDays(1);
                }
                if (startWeek.Date != temp.Date)
                {
                        <tr>
                            <td class="miss-week" colspan="8">@startWeek.Date.ToShortDateString() - @endWeek.Date.ToShortDateString()</td>
                        </tr>
                    temp = startWeek;
                    numRow = 1;
                }
                    <tr id="Row-@(amountOfRow)">
                        <td>@(numRow++)</td>
                        <td>@Model[i].Users.Sirname</td>
                        <td>@Model[i].Users.Name</td>
                        <td>@Model[i].Date.ToShortDateString()</td>
                        <td>@Model[i].Form</td>
                        <td>@Model[i].Discipline1.ShortName</td>
                        @{
                if (Model[i].IsValid == 1)
                {
                    Validation[0].Selected = true;
                    Validation[1].Selected = false;
                }
                else
                {
                    Validation[0].Selected = false;
                    Validation[1].Selected = true;
                }
                        }
                        <td>
                            <span>@Html.HiddenFor(a => a[i].Id)</span>
                            @Html.DropDownListFor(a => a[i].IsValid, Validation)
                        </td>
                    </tr>
            }
        }
    </table>
</div>
<div id="miss-buttons">
    <input type="button" value="Поиск" id="ShowSearch"/>
    <input type="submit" value="Сохранить" />
    <a href="~/Profile/MissForPraepostor"><input type="button" value="Назад" /></a>
</div>
}
<script>
    $(document).ready(function () {
        function Show(id) {
            $(id).css("display", "block");
        };

        function Hide(id) {
            $(id).css("display", "none")
        };

        $("#ShowSearch").click(function(e) {
            Show("#search");
            $('#miss-buttons').css("display", "none");
        });

        $("#ShowName").click(function (e) {
            Show("#Name-form");
            Hide("#Sirname-form");
            Hide("#Date-form");
            Hide("#Form-form");
            Hide("#Dis-form");
        });
        
        $("#ShowSirname").click(function (e) {
            Show("#Sirname-form");
            Hide("#Name-form");
            Hide("#Date-form");
            Hide("#Form-form");
            Hide("#Dis-form");
        });

        $("#ShowDate").click(function (e) {
            Show("#Date-form");
            Hide("#Sirname-form");
            Hide("#Name-form");
            Hide("#Form-form");
            Hide("#Dis-form");
        });

        $("#ShowForm").click(function (e) {
            Show("#Form-form");
            Hide("#Sirname-form");
            Hide("#Date-form");
            Hide("#Name-form");
            Hide("#Dis-form");
        });

        $("#ShowDisc").click(function (e) {
            Show("#Dis-form");
            Hide("#Sirname-form");
            Hide("#Date-form");
            Hide("#Form-form");
            Hide("#Name-form");
        });

        $(".close-btn").click(function (e) {
            $(this).parent().css("display", "none");
            e.preventDefault();
        });

        $("#back").click(function (e) {
            Show("#miss-buttons");
            Hide("#search");
        })
    });
</script>
<div id="search">
    <input type="button" value="По имени" id="ShowName"/>
    <input type="button" value="По фамилии" id="ShowSirname"/>
    <input type="button" value="По дате" id="ShowDate"/>
    <input type="button" value="По форме" id="ShowForm"/>
    <input type="button" value="По дисциплине" id="ShowDisc"/>
    <input type="button" value="Назад" id="back" />
</div>
@using (Html.BeginForm("SearchSirname", "Profile", FormMethod.Get, new { @id = "Sirname-form" }))
{
    <button onclick="HideForm()" class="close-btn">X</button>
    <input type="text" placeholder="Фамилия" name="Sirname"  />
    <input type="submit" value="Найти" /><br />
}
@using (Html.BeginForm("SearchName", "Profile", FormMethod.Get, new { @id = "Name-form" }))
{
    <button onclick="HideForm()" class="close-btn">X</button>
    <input type="text" placeholder="Имя" name="Name"  />
    <input type="submit" value="Найти" /><br />
}

@using (Html.BeginForm("SearchDate", "Profile", FormMethod.Get, new { @id = "Date-form" }))
{
    <button onclick="HideForm()" class="close-btn">X</button>
    <input type="date" name="Date"/>
    <input type="submit" value="Найти" /><br />
}
@using (Html.BeginForm("SearchForm", "Profile", FormMethod.Get, new { @id = "Form-form" }))
{
    <button onclick="HideForm()" class="close-btn">X</button>
    <input type="text" placeholder="Форма" name="Form"  />
    <input type="submit" value="Найти" /><br />
}
@using (Html.BeginForm("SearchDis", "Profile", FormMethod.Get, new { @id = "Dis-form" }))
{
    <button onclick="HideForm()" class="close-btn">X</button>
    <input type="text" placeholder="Дисциплина" name="Dis"  />
    <input type="submit" value="Найти" /><br />
}