@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Список группы";
}
<div class="content">
    <h1>Список группы</h1>
    <table id="group-list">
        <tr>
            <td>№</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Статус</td>
        </tr>
        @{
            int i = 1;
            int hasStud= 0;
            string PraepostorStyle = "#fff";
            HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();

            foreach (HtmlInputs.Models.Users item in dc.Users.OrderBy(a => a.Sirname))
            {
                if (item.Group.ToString().Equals(Session["NumGroup"].ToString()) &&
                    item.Course.ToString().Equals(Session["NumCourse"].ToString()))
                {
                    hasStud = 1;
                    if(item.RoleId.Equals(3))
                    {
                        continue;
                    }
                    if(item.RoleId.Equals(2))
                    {
                        PraepostorStyle = "#94d5a2";
                    }
                    else if(item.RoleId.Equals(1))
                    {
                        PraepostorStyle = "#fff";
                    }
                    else if(item.RoleId.Equals(7))
                    {
                        PraepostorStyle = "#666";
                    }
                    <tr style="background: @PraepostorStyle">
                        <td>@(i++)</td>
                        <td class="student-row">
                            <span class="student-info">@item.Sirname</span>
                            <div class="Meth-stud-info">
                                Дата рождения: @item.Birthday.ToShortDateString()<br />
                                email: @item.Email
                            </div>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Patername</td>
                        <td>@item.Roles.Name</td>
                    </tr>
                }
            }
            int group = Convert.ToInt32(Session["NumGroup"].ToString());
            int course = Convert.ToInt32(Session["NumCourse"].ToString());
            int Role = 3;
            var Moderator = dc.Users.Where(a => a.RoleId == Role &&
                                            a.Group == group && 
                                            a.Course == course).FirstOrDefault();
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            if(Moderator != null)
            {
                <tr style="background: #eeedb6;">
                    <td></td>
                    <td>@Moderator.Sirname</td>
                    <td>@Moderator.Name</td>
                    <td>@Moderator.Patername</td>
                    <td>@Moderator.Roles.Name</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="5" style="text-align:center;">В этой группе нет куратора</td>
                </tr>
            }
            if (hasStud == 0)
            {
                <tr>
                    <td colspan="5" style="text-align:center;">В этой группе нет студентов</td>
                </tr>
            }
        }
    </table>
</div>
<div class="miss-buttons">
    @{
        <a href="~/Profile/EditGroup"><input type="button" value="Редактировать" /></a>
        if (Session["NumCourse"].ToString().Equals("1"))
        {
            <a href="~/Profile/CourseOne"><input type="button" value="Назад" /></a>
        }
        else if (Session["NumCourse"].ToString().Equals("2"))
        {
            <a href="~/Profile/CourseTwo"><input type="button" value="Назад" /></a>
        }
        else if (Session["NumCourse"].ToString().Equals("3"))
        {
            <a href="~/Profile/CourseThree"><input type="button" value="Назад" /></a>
        }
        else if (Session["NumCourse"].ToString().Equals("4"))
        {
            <a href="~/Profile/CourseFour"><input type="button" value="Назад" /></a>
        }
            
}
</div>
