@{
    ViewBag.Title = "Личный кабинет";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        ("#thanks").click(function () {
            $(this).parent().hide();
        });
    });
</script>
<div class="content">
    @foreach (HtmlInputs.Models.News item in ViewBag.news)
    {
        <div class="news-item">
            <h1>@item.Title</h1>
            <p>@item.Content</p>
            <p class="date">@item.Date.ToShortDateString()</p>
        </div>
    }
</div>
@if (Session["NewCourse"] != null) { 
<div id="congrat">
    <div class="container">
        <img src="@Url.Content("~/Content/first_september.png")" id="new-year" />
        <h1>Поздравляем!</h1>
        <h2>Вы переведены на @Session["LogedUserCourse"]-й курс</h2>
    </div>
    <button id="thanks">Спасибо</button>
</div>
}