@model HtmlInputs.Models.Messages
<div class="content">
    @{
        ViewBag.Title = "Сообщения";
        Layout = "~/Views/Shared/_Layout.cshtml";
        HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();
        List<SelectListItem> receiversList = new List<SelectListItem>();
        foreach (HtmlInputs.Models.Users item in dc.Users.OrderBy(a => a.Sirname))
        {
                if (Session["WhomToMess"].ToString().Equals("1"))
                {
                    if (item.RoleId == 1 || item.RoleId == 2)
                    {
                        if (item.Course.ToString().Equals(Session["CourseMess"].ToString()) &&
                            item.Group.ToString().Equals(Session["GroupMess"].ToString()))
                        {
                            var newReceiver = new SelectListItem
                            {
                                Text = item.Sirname + " " +
                                 item.Name + " " + item.Patername,
                                Value = item.UserId.ToString()
                            };
                            receiversList.Add(newReceiver);
                        }
                    }
                }
                else if (Session["WhomToMess"].ToString().Equals("2"))
                {
                    if (item.RoleId != 1 &&
                        item.RoleId != 2 &&
                        item.UserId != Convert.ToInt32(Session["LogedUserId"]) &&
                        item.RoleId != 7)
                    {
                        var newReceiver = new SelectListItem { Text = item.Sirname + " " + item.Name + " " + item.Patername, Value = item.UserId.ToString() };
                        receiversList.Add(newReceiver);
                    }
                }
        }
        int hasMess = 0;
        foreach (HtmlInputs.Models.Messages item in dc.Messages.OrderByDescending(a => a.Id))
        {
            if (item.ReceiverId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                if(Session["WhomToMess"].ToString().Equals("1"))
                {
                    if(item.Users.RoleId != 1 && item.Users.RoleId != 2)
                    {
                        continue;
                    }
                }
                else if(Session["WhomToMess"].ToString().Equals("2"))
                {
                    if(item.Users.RoleId == 1 || item.Users.RoleId == 2)
                    {
                        continue;
                    }
                }
                if (Session["CourseMess"] != null && Session["GroupMess"] != null)
                { 
                    if(!item.Users.Course.ToString().Equals(Session["CourseMess"].ToString()))
                    {
                        continue;
                    }
                    if(!item.Users.Group.ToString().Equals(Session["GroupMess"].ToString()))
                    {
                        continue;
                    }
                }
                hasMess = 1;
                string style;
                if (item.isRead == 0)
                {
                    style = "background:#cdf5e3;";
                }
                else
                {
                    style = "background:#fff;";
                }
                <div class="message" style="@style">
                    <div class="avatar-mini">
                        <img src="@Url.Content(item.Users.AvatarPath)" />
                    </div>
                    <span style="color:#203939;">@item.Users.Sirname @item.Users.Name @item.Users.Patername</span><br />
                    @{
                if (item.Date.ToShortDateString().Equals(DateTime.Now.ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Сегодня @item.Time.ToString(@"hh\:mm")</span><br />
                }

                else if (item.Date.ToShortDateString().Equals(DateTime.Now.AddDays(-1).ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Вчера @item.Time.ToString(@"hh\:mm")</span><br />
                }
                else
                {
                    <span style="color:#ccc; font-size:12px;">@item.Date.ToShortDateString() @item.Time.ToString(@"hh\:mm")</span><br />
                }
                    }
                    <span>@item.Content</span>
                    <div class="in-out">
                        <img src="@Url.Content("~/Content/green-arrow.png")" />
                    </div>
                </div>
            }
            else if (item.SenderId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                var student = dc.Users.Where(a => a.UserId.Equals(item.ReceiverId)).FirstOrDefault();
                if (Session["WhomToMess"].ToString().Equals("1"))
                {
                    if (student.RoleId != 1 && student.RoleId != 2)
                    {
                        continue;
                    }
                }
                else if (Session["WhomToMess"].ToString().Equals("2"))
                {
                    if (student.RoleId == 1 || student.RoleId == 2)
                    {
                        continue;
                    }
                }
                if(Session["CourseMess"] != null && Session["GroupMess"] != null)
                { 
                    if (!student.Course.ToString().Equals(Session["CourseMess"].ToString()))
                    {
                        continue;
                    }
                    if (!student.Group.ToString().Equals(Session["GroupMess"].ToString()))
                    {
                        continue;
                    }
                }
                hasMess = 1;
                var receiver = dc.Users.Where(a => a.UserId.Equals(item.ReceiverId)).FirstOrDefault();
                <div class="message">
                    <div class="avatar-mini">
                        <img src="@Url.Content(receiver.AvatarPath)" />
                    </div>
                    <span style="color:#203939;">@receiver.Sirname @receiver.Name @receiver.Patername</span><br />
                    @{
                if (item.Date.ToShortDateString().Equals(DateTime.Now.ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Сегодня @item.Time.ToString(@"hh\:mm")</span><br />
                }

                else if (item.Date.ToShortDateString().Equals(DateTime.Now.AddDays(-1).ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Вчера @item.Time.ToString(@"hh\:mm")</span><br />
                }
                else
                {
                    <span style="color:#ccc; font-size:12px;">@item.Date.ToShortDateString() @item.Time.ToString(@"hh\:mm")</span><br />
                }
                    }
                    <span style="color:#000;">@item.Content</span>
                    <div class="in-out">
                        <img src="@Url.Content("~/Content/red-arrow.png")" />
                    </div>
                </div>
            }
        }
        if (hasMess == 0)
        {
            <p>У Вас нет сообщений</p>
        }
        else
        {
            foreach (HtmlInputs.Models.Messages item in dc.Messages)
            {
                if (item.isRead == 0 && item.ReceiverId.Equals(Convert.ToInt32(Session["LogedUserId"])))
                {
                    item.isRead = 1;
                }
            }
            dc.SaveChanges();
        }
    }
</div>
@using (Html.BeginForm("Messages", "Profile", FormMethod.Post, new { @id = "form-message" }))
{
    <input type="hidden" name="SenderId" value="@Session["LogedUserId"].ToString()">
    <input type="hidden" name="isRead" value="0" />
    <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />
    <input type="hidden" name="Time" value="@DateTime.Now.ToShortTimeString()" />
    <span>Получатель</span><br />
    @Html.DropDownListFor(a => a.ReceiverId, receiversList)<br />
    <textarea cols="52" rows="4" name="Content"></textarea><br />
    <input type="submit" value="Отправить" />
    if(Session["CourseMess"] == null)
    {
        <a href="~/Profile/WhomToMessage"><input type="button" value="Назад" /></a>
    }
    else if(Session["CourseMess"].ToString().Equals("1"))
    { 
        <a href="~/Profile/CourseOneMess"><input type="button" value="Назад" /></a>
    }
    else if (Session["CourseMess"].ToString().Equals("2"))
    {
        <a href="~/Profile/CourseTwoMess"><input type="button" value="Назад" /></a>
    }
    else if (Session["CourseMess"].ToString().Equals("3"))
    {
        <a href="~/Profile/CourseThreeMess"><input type="button" value="Назад" /></a>
    }
    else if (Session["CourseMess"].ToString().Equals("4"))
    {
        <a href="~/Profile/CourseFourMess"><input type="button" value="Назад" /></a>
    }
}

