@model HtmlInputs.Models.Messages
<div class="content">
    @{
        ViewBag.Title = "Сообщения";
        Layout = "~/Views/Shared/_Layout.cshtml";
        HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();
        List<SelectListItem> receiversList = new List<SelectListItem>();
        foreach (HtmlInputs.Models.Users item in dc.Users.OrderBy(a => a.Sirname))
        {
            if((Session["LogedUserRole"].ToString().Equals("1") ||
                Session["LogedUserRole"].ToString().Equals("2")) &&
                (item.RoleId != 1 && item.RoleId != 2 && item.RoleId != 7))
            {
                var newReceiver = new SelectListItem { Text = item.Sirname + " " + item.Name + " " + item.Patername, Value = item.UserId.ToString() };
                receiversList.Add(newReceiver);
            }
            else if(!Session["LogedUserRole"].ToString().Equals("1") &&
                !Session["LogedUserRole"].ToString().Equals("2"))
            {
                if(Session["WhomToMess"].ToString().Equals("1"))
                {
                    if(item.RoleId == 1  || item.RoleId == 2)
                    {
                        if(item.Course.ToString().Equals(Session["CourseMess"].ToString()) &&
                            item.Group.ToString().Equals(Session["GroupMess"].ToString()))
                        { 
                            var newReceiver = new SelectListItem { Text = item.Sirname + " " +
                                                                    item.Name + " " + item.Patername,
                                                                    Value = item.UserId.ToString() };
                            receiversList.Add(newReceiver);
                        }
                    }
                }
                else if(Session["WhomToMess"].ToString().Equals("2")){
                    if(item.RoleId != 1 && item.RoleId != 2)
                    { 
                        var newReceiver = new SelectListItem { Text = item.Sirname + " " + item.Name + " " + item.Patername, Value = item.UserId.ToString() };
                        receiversList.Add(newReceiver);
                    }
                }
            }
            
        }
        int hasMess = 0;
        foreach (HtmlInputs.Models.Messages item in dc.Messages.OrderByDescending(a => a.Id))
        {
            if (item.ReceiverId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                
                hasMess = 1;
                string style;
                
                if (item.isRead == 0)
                {
                    style = "background:#cdf5e3;";
                }
                else
                {
                    style = "background:#fff;";
                }
                    <div class="message" style="@style">
                        <div class="avatar-mini">
                            <img src="~/Profile/ShowAvatar?id=@item.Users.UserId" />
                        </div>
                        <span style="color:#203939;">@item.Users.Sirname @item.Users.Name @item.Users.Patername</span><br />
                        @{
                if (item.Date.ToShortDateString().Equals(DateTime.Now.ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Сегодня @item.Time.ToString(@"hh\:mm")</span><br />
                }

                else if (item.Date.ToShortDateString().Equals(DateTime.Now.AddDays(-1).ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Вчера @item.Time.ToString(@"hh\:mm")</span><br />
                }
                else
                {
                    <span style="color:#ccc; font-size:12px;">@item.Date.ToShortDateString() @item.Time.ToString(@"hh\:mm")</span><br />
                }
                        }
                        <span>@item.Content</span>
                        <div class="in-out">
                            <img src="@Url.Content("~/Content/green-arrow.png")" />
                        </div>
                    </div>
            }
            else if (item.SenderId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                hasMess = 1;
                var receiver = dc.Users.Where(a => a.UserId.Equals(item.ReceiverId)).FirstOrDefault();
                <div class="message">
                    <div class="avatar-mini">
                        <img src="~/Profile/ShowAvatar?id=@receiver.UserId" />
                    </div>
                    <span style="color:#203939;">@receiver.Sirname @receiver.Name @receiver.Patername</span><br />
                    @{
                if (item.Date.ToShortDateString().Equals(DateTime.Now.ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Сегодня @item.Time.ToString(@"hh\:mm")</span><br />
                }

                else if (item.Date.ToShortDateString().Equals(DateTime.Now.AddDays(-1).ToShortDateString()))
                {
                    <span style="color:#ccc; font-size:12px;">Вчера @item.Time.ToString(@"hh\:mm")</span><br />
                }
                else
                {
                    <span style="color:#ccc; font-size:12px;">@item.Date.ToShortDateString() @item.Time.ToString(@"hh\:mm")</span><br />
                }
                    }
                    <div class="content-message" style="color:#000;">@item.Content</div>
                    <div class="in-out">
                        <img src="@Url.Content("~/Content/red-arrow.png")" />
                    </div>
                </div>
            }
        }
        if (hasMess == 0)
        {
            <p>У Вас нет сообщений</p>
        }
        else
        {
            foreach (HtmlInputs.Models.Messages item in dc.Messages)
            {
                if (item.isRead == 0 && item.ReceiverId.Equals(Convert.ToInt32(Session["LogedUserId"])))
                {
                    item.isRead = 1;
                }
            }
            dc.SaveChanges();
        }
    }
</div>
<script>
    $(document).ready(function () {
        $(".close-btn").click(function (e) {
            $("#form-message").hide();
            e.preventDefault();
        });
        $("#write").click(function (e) {
            $("#form-message").show();
            e.preventDefault();
        });
    })
    function ShowForm() {
        var element = document.getElementById("form-message");
        element.style.display = "block";
    }
    function HideForm() {
        var element = document.getElementById("form-message");
        element.style.display = "none";
    }
</script>
<div class="miss-buttons">
    <input type="button" value="Написать" id="write"/>
</div>
    @using (Html.BeginForm("Messages", "Profile", FormMethod.Post, new { @id = "form-message" }))
    {
        <button class="close-btn">X</button>
        <input type="hidden" name="SenderId" value="@Session["LogedUserId"].ToString()">
        <input type="hidden" name="isRead" value="0" />
        <input type="hidden" name="Date" value="@DateTime.Now" />
        <input type="hidden" name="Time" value="@DateTime.Now.TimeOfDay" />
        <span>Получатель</span><br />
        @Html.DropDownListFor(a => a.ReceiverId, receiversList)<br />
        <textarea cols="52" rows="4" name="Content"></textarea><br />
        <input type="submit" value="Отправить" />
    }

