
@{
    ViewBag.Title = "Пропуски";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Пропуски группы</h1>
    <table id="miss-table">
        <tr>
            <td>№</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Дата</td>
            <td>Форма</td>
            <td>Дисциплина</td>
            <td>Причина</td>
            <td></td>
        </tr>
        @{
            int i = 1;
            int hasMiss = 0;
            DateTime temp = new DateTime();
            HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();

            foreach (HtmlInputs.Models.Missings item in dc.Missings.OrderByDescending(a => a.Id))
            {
                if (item.Users.Group.ToString().Equals(Session["LogedUserGroup"].ToString()) &&
                    item.Users.Course.ToString().Equals(Session["LogedUserCourse"].ToString()))
                {
                    hasMiss = 1;
                    DateTime startWeek = item.Date;
                    DateTime endWeek = item.Date;
                    while (startWeek.DayOfWeek != System.DayOfWeek.Monday)
                    {
                        startWeek = startWeek.AddDays(-1);
                    }
                    while (endWeek.DayOfWeek != System.DayOfWeek.Saturday)
                    {
                        endWeek = endWeek.AddDays(1);
                    }
                    if (startWeek.Date != temp.Date)
                    {
                        <tr>
                            <td class="miss-week" colspan="8">@startWeek.Date.ToShortDateString() - @endWeek.Date.ToShortDateString()</td>
                        </tr>
                        temp = startWeek;
                        i = 1;
                    }
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.Users.Sirname</td>
                        <td>@item.Users.Name</td>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.Form</td>
                        <td>@item.Discipline1.ShortName</td>
                        @{
                    if (item.IsValid == 1)
                    {
                        <td>Есть</td>
                    }
                    else
                    {
                        <td>Отсутствует</td>
                    }
                        }
                        <td>
                            <a href="~/Profile/DeleteMiss?id=@item.Id">
                                <img src="~/Content/delete.png" width="20" height="20" />
                            </a>
                        </td>
                    </tr>
                }
            }
            if (hasMiss == 0)
            {
                <tr>
                    <td colspan="7" style="text-align:center;">У вашей группы нет пропусков</td>
                </tr>
            }
        }
    </table>
    @*@if(ViewBag.Message != null)
    { 
    <script>
        var timerId = setTimeout(function () {
            var element = document.getElementById("ToHide");
            element.classList.add("hidden");
            clearTimeout(timerId);
        }, 1500);
    </script>
    }*@
</div>
<div class="miss-buttons">
    <a href="~/Profile/AddMiss"><input type="button" value="Добавить" /></a>
    <a href="~/Profile/EditMiss"><input type="button" value="Изменить" /></a>
    <a href="~/Profile/WeekReport"><input type="button" value="Итоги недели" /></a>
    <a href="~/Profile/MonthReportForPraepostor"><input type="button" value="Итоги месяца" /></a>
</div>
