@{
    ViewBag.Title = "Итоги недели";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime temp = new DateTime();
    HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();
    int numWeeks = 0;
    DateTime[] weeks = new DateTime[50];
    int isSaved = 0;
    int hasMiss = 0;
    <div class="content">
        <h1>Итоги недели</h1>
        <table>
            <tr>
                <td>№</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Уважительных</td>
                <td>Неуважительных</td>
            </tr>
            @foreach (HtmlInputs.Models.Missings item in dc.Missings.OrderByDescending(a => a.Id)) //Разбиваем записи таблицы на недели. В массив записываем дату понедельника
            {
                if (item.Users.Group.ToString() != Session["LogedUserGroup"].ToString() &&
                    item.Users.Course.ToString() != Session["LogedUserCourse"].ToString())
                {
                    continue;
                }
                hasMiss = 1;
                temp = item.Date;
                while (temp.Date.DayOfWeek != System.DayOfWeek.Monday)
                {
                    temp = temp.Date.AddDays(-1);
                }

                foreach (DateTime savedWeeks in weeks)
                {
                    if (savedWeeks == temp)
                    {
                        isSaved = 1;
                        break;
                    }
                }
                if (isSaved == 0)
                {
                    weeks[numWeeks++] = temp;
                }
                else
                {
                    isSaved = 0;
                }
            }
            @{
                DateTime startWeekItem = new DateTime();
                Dictionary<int, int>[] StudentsIsValidMiss = new Dictionary<int, int>[50]; //Массив определяет количество недель, ключ - ИД стдуента, значение - кол-во пропусков
                Dictionary<int, int>[] StudentsIsNotValidMiss = new Dictionary<int, int>[50];
                foreach (HtmlInputs.Models.Users user in dc.Users)
                {
                    var student = dc.Missings.Where(a => a.StudentId.Equals(user.UserId)).FirstOrDefault(); //Ищем студента, у которого есть пропуски
                    if (student != null)
                    {
                        for (int i = 0; i < numWeeks; i++)
                        {
                            if (StudentsIsNotValidMiss[i] == null)
                            {
                                StudentsIsValidMiss[i] = new Dictionary<int, int>();
                                StudentsIsNotValidMiss[i] = new Dictionary<int, int>();
                            }
                            StudentsIsValidMiss[i].Add(user.UserId, 0);
                            StudentsIsNotValidMiss[i].Add(user.UserId, 0);
                        }
                    }
                }
                foreach (HtmlInputs.Models.Missings item in dc.Missings)
                {
                    startWeekItem = item.Date;
                    while (startWeekItem.DayOfWeek != System.DayOfWeek.Monday)
                    {
                        startWeekItem = startWeekItem.AddDays(-1);
                    }

                    for (int i = 0; i < numWeeks; i++)
                    {
                        if (startWeekItem == weeks[i])
                        {
                            if (item.IsValid == 1)
                            {
                                StudentsIsValidMiss[i][item.StudentId] += 2;
                                break;
                            }
                            else
                            {
                                StudentsIsNotValidMiss[i][item.StudentId] += 2;
                                break;
                            }
                        }
                    }
                }
                int numRows = 0;
                for (int i = 0; i < numWeeks; i++)
                {
                    <tr>
                        <td colspan="6" class="miss-week">@weeks[i].Date.ToShortDateString() - @weeks[i].AddDays(5).Date.ToShortDateString()</td>
                    </tr>

                    foreach (HtmlInputs.Models.Users user in dc.Users)
                    {
                        int num = 0;
                        if (StudentsIsNotValidMiss[i].TryGetValue(user.UserId, out num))
                        {
                            if (num == 0 && StudentsIsValidMiss[i][user.UserId] == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@(++numRows)</td>
                                <td>@user.Sirname</td>
                                <td>@user.Name</td>
                                <td>@user.Patername</td>
                                <td>@StudentsIsValidMiss[i][user.UserId]</td>
                                <td>@num</td>
                            </tr>
                        }
                    }
                    numRows = 0;
                }
                if (hasMiss == 0)
                {
                    <tr>
                        <td colspan="6" style="text-align:center;">У вашей группы нет пропусков</td>
                    </tr>
                }
}
        </table>
    </div>
}

<div class="miss-buttons">
    <a href="~/Profile/MissForModerator"><input type="button" value="Назад" /></a>
</div>
