@model HtmlInputs.Models.LogedUser
@{
    Layout = "~/Views/Shared/Index_Layout.cshtml";
    ViewBag.Title = "Вход";
}
    <nav class="header">
        <div class="header-content"> Кабинет пользователя</div>
    </nav>
<script type="text/javascript">
    $(document).ready(function () {
        var canClose = false;
        var delay = 15;
        $("#dial-authorisation").dialog({
            resizable: false,
            modal: true,
            autoOpen: true,
            beforeClose: function(){
                return canClose;
            },
            open: function(){
                var count = delay;
                var intID = setInterval(function(){
                    count--;
                    $('#time').text(count);
                    if(count == 0){
                        clearInterval(intID);
                        canClose = true;
                        $("#dial-authorisation").dialog("close");
                    }
                }, 1000);
            }
        })
    });
</script>
    @using (Html.BeginForm("Index","Home",FormMethod.Post, new {id = "login-form"}))
    {
        @Html.ValidationSummary(true)
        if (ViewBag.Message != null)
        {
            <div id="dial-authorisation" title="Ошибка" style="display:none">
                @ViewBag.Message. Повторите, пожалуйста, попытку через <span id="time">15</span> секунд
            </div>
        }
        <table>
            <tr>
                <td><label for="login">Логин:</label></td>
                <td>@Html.TextBoxFor(a => a.Login)</td>
                <td style="color:red;">@Html.ValidationMessageFor(a => a.Login)</td>
            </tr>
            <tr>
                <td><label for="password">Пароль:</label></td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td style="color:red;">@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
        </table>
        <div class="buttons">
            <input type="submit" value="Вход" />
            <a href="~/Home/HowToRegister"><input type="button" value="Регистрация" /></a>
        </div>
    }